.image{
    border-radius: 50%;
    border-width: 5%;
        height: 100px;
    width: 130px;
    margin: 5%
}


.Out img{
visibility: hidden;
}
.Out {
    background-color: rgb(91, 202, 91);
    }

.In{
background-color: rgb(114, 82, 202);
}

button{
    border-radius: 25px;
    background-color: #75aad8;
}

