nav img{
    height: 20vh;
    grid-area: logo;

  }
  
  
nav{
    background: #2E99F6;
    grid-area:nav;
    display:grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-template-areas: "logo visitors staff name";
  }

  h1{
    display:grid;
    grid-area:name;
    place-items: center;
  }
  
  .staffBut{
    grid-area:staff;
    align-content: center;
    align-self: center;
    display: grid;
    place-items: center;
  }

  .staffBut button{
    border-radius: 20px;
    width: 100%;  
  }
  
  .visitorsBut{
    display: grid;
    place-items: center;
    grid-area:visitors;
    border-radius: 25px;
    align-content: center;
    align-self: center;
  }
  .visitorsBut button{
    border-radius: 20px;
    width: 100%;  
  }

  .routerLink{
    width: 100%
  }

  @media only screen and (max-width:600px){
    nav{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: 
      "logo name"
      "visitors staff" ;
    }

    .visitorsBut {
      margin: 5%; 
          }

    .staffBut {
      margin: 5%; 
          }
  }

    