nav img{
    height: 20vh;
    grid-area: logo;
  }
  
  
nav{
    background: #2E99F6;
    grid-area:nav;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo visitors users HDN";
  }

  h1{
    display:grid;
    grid-area:HDN;
    place-items: center;
    /* color:  */
  }
  
  #usersBut{
    grid-area:users;
    border-radius: 25px;
    /* height: 50%; */
    align-content: center;
    align-self: center;
    /* margin-inline: 20%; */
  }
  
  #visitorsBut{
    grid-area:visitors;
    border-radius: 25px;
    /* height: 50%; */
    align-content: center;
    align-self: center;
    /* margin-inline: 20%; */
  
  }