nav img{
    height: 20vh;
    grid-area: logo;

  }
  
  
nav{
    background: #2E99F6;
    grid-area:nav;
    display:grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-template-areas: "logo visitors staff name";
  }

  h1{
    display:grid;
    grid-area:name;
    place-items: center;
    /* color:  */
  }
  
  .staffBut{
    grid-area:staff;
    align-content: center;
    align-self: center;
    display: grid;
    place-items: center;
  }

  .staffBut button{
    border-radius: 20px;
    width: 80%;  
  }
  
  .visitorsBut{
    display: grid;
    place-items: center;
    grid-area:visitors;
    border-radius: 25px;
    /* height: 50%; */
    align-content: center;
    align-self: center;
    /* margin-inline: 20%; */
  }
  .visitorsBut button{
    border-radius: 20px;
    width: 80%;  
  }

  .routerLink{
    width: 100%
  }