.container{
  display:grid;
  height:100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-areas:
    "nav nav"
    "main sidebar";
  grid-gap: 0.2rem;
}

nav{
  background: #2E99F6;
  grid-area:nav;
}

main{
  background: #36e98f;
  grid-area:main;
}

#sidebar{
  background: green;
  grid-area:sidebar;
}

@media only screen and (max-width:550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.6fr
      0.2fr;
    grid-template-areas:
      "nav"
      "main"
      "sidebar"
  }
}

/* Faces Display CSS */
.faces{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width:550px){
  .faces{
  grid-template-columns: 1fr 1fr 1fr;
  }
}

/* NAV BAR CCS */
nav img{
  height: 20vh;
  grid-area: logo;
}

nav{
display:grid;
 grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
 grid-template-areas: "logo visitors users HDN";
}

h2{
  display:grid;
  grid-area:HDN;
  place-items: center;
  /* color:  */
}

#usersBut{
  grid-area:users;
  border-radius: 25px;
  height: 50%;
  align-content: center;
  align-self: center;
  margin-inline: 20%;
}

#visitorsBut{
  grid-area:visitors;
  border-radius: 25px;
  height: 50%;
  align-content: center;
  align-self: center;
  margin-inline: 20%;

}